<h1>nav-bar</h1>
<header class= 'clearfix'>
<div class="left-nav">
<ul>
<li><%= link_to "home", "home"%></li>
</ul>
</div>
<div class="right-nav">
<ul>
<li><%= link_to "about", "about"%></li>
</ul>
</div>


